{% extends 'base.html' %}

{% block title %}Palio {% endblock %}

{% block content %}
<div class="container content-container">
    <div class="row no-gutters">
        <div class="col-md-9 order-md-2">
        <div class="single-post-home">
        <h5>Lista Pali corsi per anno</h5>
        {% for data in date %}
            <h3><a class="nav-link" href="{{ url_for ('palio_dettaglio', palio_id = data.id) }}">{{data.data.strftime ('%Y')}}</a></h3>
        {% endfor%}
        </div>
            {% for risultato in risultati %}
            <div class="single-post-home">
                <h5>{{risultato.gare_id}}° Palio Marinaro</h5>
                {{risultato.rioni.rione}}
                <p class="p-small-two text-muted">Anno :{{risultato.gare.data.strftime('%Y') }}</p>
                <p class="p-small-one text-muted mb-0">{{risultato.posizione}}</p>
                <p class="p-small-one text-muted mb-0">{{risultato.nome}}</p>                
            </div>
            {% endfor %}
        </div>
        <div class="col-md-3 order-md-1">
            {% include 'about_snippet.html' %}
        </div>
    </div>
</div>
{% endblock %}