{% extends 'base.html' %}

{% block title %}Palio {% endblock %}

{% block content %}
<div class="container content-container">
    <div class="row no-gutters">
        <div class="col-md-9 order-md-2">
                    
                    {% for risultato in risultati %}
                    <div class="single-post-home">
                    <h5 style ="padding-bottom: 15px;">Palio corso nel anno <strong>{{risultato[0].gare.data.strftime ('%Y')}}</strong></h5>
                        {% for result in risultato%}
                        <div class="container tabella">
                        <div class="row align-items-start">
                            <div class="col">
                            <p class= "tabella">Rione: <strong>{{result.rioni.rione}}</strong></p>
                            </div>
                            <div class="col">
                            <p class= "tabella"> Classificato <strong>{{result.ordine.classificato}}</strong></p>
                            </div>
                        </div>
                        </diV>
                        {% endfor %}
                        </div>
                    {% endfor %}
    </div>
    <div class="col-md-3 order-md-1">
            {% include 'about_snippet.html' %}
    </div>
</div>
{% endblock %}