{% extends 'base.html' %}

{% block title %}Palio singolo {% endblock %}

{% block content %}
<div class="container content-container">
    <div class="row no-gutters">
        <div class="col-md-9 order-md-2">
        <div class="single-post-home">
        <h5 class="lead">Palio anno {{ gara[0].gare.data.strftime ('%Y') }}</h5>
        <hr>
        <h5>Risultati:</h5>
        <ul>
        {% for g in gara %}
            <li>
            <p>{{ g.posizione }} Rione {{g.rioni.rione}}</p>
            </li>
        {% endfor%}
        </ul>
        </div>
        </div>
        <div class="col-md-3 order-md-1">
            {% include 'about_snippet.html' %}
        </div>
    </div>
</div>
{% endblock %}